<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="http://localhost:8000/loginstate" method="post" action="application/x-www-form-urlencoded">
        UserId:<input type="text" name="userid" placeholder="请输入用户ID">  <br>
        Password:<input type="password" name="password" placeholder="请输入密码">  <br>
        <input type="submit" value="提交">
    </form>
    <!-- <input type="button" value="Allviews" οnclick="location.href='http://localhost:8000/view/GetViewsbyUserId'">
    <input type="button" value="Create" οnclick="location.href='http://localhost:8000/view/Create'"> -->
</body>
</html>